:root {
  --main: #264968;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
}

.register-cover {
  background-image: url("/svg/cover.svg"), url("/svg/cover2.svg");
  background-position: center;
  filter: drop-shadow(-10px 0px 6px black);
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
  height: 100vh;
  background-color: #fffaee;
}

.btn-primary,
.btn-primary :focus {
  background-color: var(--main);
  border-color: var(--main);
  opacity: 0.95;
}
.btn-primary:hover {
  opacity: 1;
  background-color: var(--main);
  border-color: var(--main);
}
.btn-primary:active {
  background-color: var(--main) !important;
  border-color: var(--main) !important;
}
.btn-primary:disabled {
  opacity: 0.8;
  border-color: var(--main);
  background-color: var(--main);
}
.invalid-feedback {
  min-height: 21px;
  margin: 0px;
}
.invalid-feedback::first-letter {
  text-transform: uppercase;
}
.form-control:focus {
  border-color: #c0e4f600;
  box-shadow: 0 0 0 0.25rem #22566714;
}
#password-eye,
#cpassword-eye {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #595c5f;
  cursor: pointer;
  transition-duration: 1s;
  transform: scale(0.9);
}
#password-eye:hover,
#cpassword-eye:hover {
  transform: scale(1);
}
h3 div {
  opacity: 0.5;
  cursor: pointer;
}
h3 div img {
  filter: hue-rotate(100deg);
}
.open {
  opacity: 1;
}
.logo {
  height: max-content;
  margin: 10px auto;
  padding: 10px;
  color: var(--main);
  font-family: Atma;
  font-weight: bold;
}
@font-face {
  font-family: Atma;
  src: url("/fonts/Atma-Regular.ttf");
}
