:root {
  --main: #264968;
  --main2: #6a7886;
  --main3: #fbe56d;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
}

.register-cover {
  background-image: url("/svg/cover.svg"), url("/svg/cover2.svg");
  background-position: bottom;
  filter: drop-shadow(-10px 0px 6px black);
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
  height: 100vh;
  background-color: #fffaee;
}

.btn-primary,
.btn-primary :focus {
  background-color: var(--main);
  border-color: var(--main);
  opacity: 0.95;
}
.btn-primary:hover {
  opacity: 1;
  background-color: var(--main);
  border-color: var(--main);
}
.btn-primary:active {
  background-color: var(--main) !important;
  border-color: var(--main) !important;
}
.btn-primary:disabled {
  opacity: 0.8;
  border-color: var(--main);
  background-color: var(--main);
}
.invalid-feedback {
  min-height: 21px;
  margin: 0px;
}
.invalid-feedback::first-letter {
  text-transform: uppercase;
}
.form-control:focus {
  border-color: #c0e4f600;
  box-shadow: 0 0 0 0.25rem #22566714;
}
.eye {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #595c5f;
  cursor: pointer;
  transition-duration: 1s;
  transform: scale(0.9);
}
.eye {
  transform: scale(1);
}
h3 div {
  opacity: 0.5;
  cursor: pointer;
}
h3 div img {
  filter: hue-rotate(100deg);
}
.open {
  opacity: 1;
}
.logo {
  height: max-content;
  margin: 10px auto;
  padding: 10px;
  color: var(--main);
  font-family: Atma;
  font-weight: bold;
}
.ff-atma {
  font-family: Atma;
}
.text-o {
  color: var(--main2);
}
.ready {
  background-image: url("/svg/cover2.svg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.ready .start {
  font-size: large;
  width: max-content;
  color: var(--main3);
  transition-property: all;
  transition-duration: 0.5s;
}
.ready .start:hover {
  color: var(--main3);
  transform: scale(1.1);
}
.ready-img {
  background-image: url("../svg/ready.svg");
  height: 50vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.logout {
  top: 10px;
  right: 10px;
}
@font-face {
  font-family: Atma;
  src: url("/fonts/Atma-Regular.ttf");
}

.loader {
  width: 25px;
  height: 25px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: var(--main);
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: var(--main);
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}
.error {
  background-image: url("../images/error.jpg");
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  filter: grayscale(1);
}
.h-100vh {
  height: 100vh;
}
@keyframes animloader {
  0% {
    top: 0;
    color: var(--main);
  }
  50% {
    top: 6px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: var(--main);
  }
}
.bg-primary {
  background-color: var(--main) !important;
}
.options {
  list-style: lower-alpha;
}
.text-main {
  color: var(--main);
}
